In [7]:
import os
import pandas as pd

# Load the csv file
current_dir = os.getcwd()
parent_dir = os.path.dirname(current_dir)
data_dir = os.path.join(parent_dir, 'data')

csv_file_path = os.path.join(data_dir, 'ResalePricesSingapore.csv')
df = pd.read_csv(csv_file_path)

In [8]:
def get_month_year_town(matric_num: str):
        """Convert matric digits to month, year and town"""
        # u2024900g
        year = int(matric_num[-2])
        commence_month = int(matric_num[-3])
        town = int(matric_num[-4])
        if commence_month >=10 or year >= 10 or town >= 10:
            raise ValueError('Invalid values for month, year or town')
        
        if commence_month == 0:
            commence_month_str = '10'
            end_month_str = '12'
        else:
            commence_month_str = f'0{commence_month}'
            if commence_month >= 8:
                end_month_str = str(commence_month+2)
            else:
                end_month_str = f'0{commence_month+2}'
            
        
        if year<4:
            year_str = f'202{year}'
        else:
            year_str = f'201{year}'

        # Define the mapping from digit to town name
        MAPPER = {
            "0": "ANG MO KIO",
            "1": "BEDOK",
            "2": "BUKIT BATOK",
            "3": "CLEMENTI",
            "4": "CHOA CHU KANG",
            "5": "HOUGANG",
            "6": "JURONG WEST",
            "7": "PUNGGOL",
            "8": "WOODLANDS",
            "9": "YISHUN"
        }

        town_str = MAPPER[str(town)]
        
        print(town_str)
        print(year_str)
        print(commence_month_str)

        return f'{year_str}-{commence_month_str}', f'{year_str}-{end_month_str}', town_str

In [9]:
# input matric number
commence_month, end_month, town = get_month_year_town('u2024900g')

YISHUN
2020
10

In [10]:
df = df[(df['month'] >= commence_month) & (df['month'] <= end_month)]
df = df[df['town'] == town]
df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
135890,2020-10,YISHUN,2 ROOM,459,YISHUN AVE 11,01 TO 03,48.0,Model A,2013,225000.0
135891,2020-10,YISHUN,3 ROOM,424C,YISHUN AVE 11,04 TO 06,67.0,Model A,2015,300000.0
135892,2020-10,YISHUN,3 ROOM,348A,YISHUN AVE 11,10 TO 12,67.0,DBSS,2013,451000.0
135893,2020-10,YISHUN,3 ROOM,424C,YISHUN AVE 11,10 TO 12,67.0,Model A,2015,320000.0
135894,2020-10,YISHUN,3 ROOM,345,YISHUN AVE 11,07 TO 09,74.0,Model A,1988,290000.0
...,...,...,...,...,...,...,...,...,...,...
140833,2020-12,YISHUN,EXECUTIVE,352,YISHUN RING RD,04 TO 06,146.0,Maisonette,1988,560000.0
140834,2020-12,YISHUN,EXECUTIVE,356,YISHUN RING RD,01 TO 03,145.0,Apartment,1988,540000.0
140835,2020-12,YISHUN,EXECUTIVE,611,YISHUN ST 61,13 TO 15,142.0,Apartment,1987,638000.0
140836,2020-12,YISHUN,EXECUTIVE,834,YISHUN ST 81,10 TO 12,146.0,Maisonette,1988,683500.0
140837,2020-12,YISHUN,EXECUTIVE,824,YISHUN ST 81,07 TO 09,142.0,Apartment,1987,670000.0

In [12]:
min_price = df['resale_price'].min()
avg_price = df['resale_price'].mean()
std_price = df['resale_price'].std()

min_area = df['floor_area_sqm'].min()
avg_area = df['floor_area_sqm'].mean()
std_area = df['floor_area_sqm'].std()

print(f"Minimum resale price: ${min_price:.2f}")
print(f"Average resale price: ${avg_price:.2f}")
print(f"Standard deviation of resale price: ${std_price:.2f}")
print(f"Minimum floor area: {min_area:.2f} sqm")
print(f"Average floor area: {avg_area:.2f} sqm")
print(f"Standard deviation of floor area: {std_area:.2f} sqm")

Minimum resale price: $225000.00
Average resale price: $410109.26
Standard deviation of resale price: $107634.07
Minimum floor area: 47.00 sqm
Average floor area: 96.18 sqm
Standard deviation of floor area: 22.70 sqm